.title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 300%;
    text-align: center;
}

#ball{
    position: absolute;
    bottom: 10cm;
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}